<!DOCTYPE html>
<html>
<head>
<title>{{ page.title | default: site.title }}</title>

<link rel='stylesheet' href='/css/basic.css' type='text/css'>
<link rel='stylesheet' href='/css/bootstrap.css' type='text/css'>
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="container">
		<img id="header" src="/images/header.jpg">
		<div class="navbar">
		  <div class="navbar-inner">
		    <ul class="nav">
		      <li{% if page.nav == "home" %} class="active"{% endif %}><a href="/index.html">Home</a></li>
			  <li{% if page.nav == "blog" %} class="active"{% endif %}><a href="/blog/">Blog</a></li>
		    </ul>
		    <ul class="nav pull-right">
		    	<li><a href="https://github.com/vaishakhbn" target="_blank"><i class="icon-github"></i></a></li>
		    	<li><a href="http://www.linkedin.com/in/vaishakhbn" target="_blank"><i class="icon-linkedin"></i></a></li>
				<li><a href="http://twitter.com/vaishakhbn" target="_blank"><i class="icon-twitter"></i></a></li>
				<li><a href="http://facebook.com/vaishakhbn" target="_blank"><i class="icon-facebook"></i></a></li>
		    </ul>
		  </div>
		</div>

		<div class="hero-unit blog-content">
			{{ content }}
		</div>
		<footer>
			<p> &#169; 2026, Vaishakh Baragur Narasimhareddy</p>
		</footer>
	</div>
</body>

</html>
